@using Memberships.Models
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @if (User.Identity.IsAuthenticated)
    {
        // Display user is logged in
        <div class="col-xs-12">
            @Html.Partial("_ThumbnailAreaPartial", new ThumbnailAreaModel())
        </div>
    }
    else
    {
        // Display user isn't logged in
        <!--Left column-->
        <div class="col-lg-9 col-md-8 col-sm-7">
            <h2>I'm not logged in</h2>
        </div>
        <!--Right column-->
        <div class="col-lg-3 col-md-4 col-sm-5">
            
        </div>
    }
</div>